 <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sticky-footer/">
  <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">
 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
<footer class="container-fluid">
  
  <div class="b-example-divider"></div>


<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h5>Alternative Ideas for hair</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="https://therighthairstyles.com/30-respectable-yet-modern-hairstyles-for-women-over-50/" class="nav-link p-0 text-muted">The Right Hairstyles</a></li>
          <li class="nav-item mb-2"><a href="https://www.southernliving.com/fashion-beauty/hairstyles/popular-hairstyles" class="nav-link p-0 text-muted">Styled cuts or Colour ideas</a></li>
          <li class="nav-item mb-2"><a href="https://www.brides.com/romantic-wedding-hairstyles-4797561" class="nav-link p-0 text-muted">Bridial Ideas</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Contact us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="tel:5558920234" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});"><p class="call-button">Call us +353871234567</p></a> 
          <li class="nav-item mb-2"><a href=mailto:iadorehair@gmil.com?subject="subject text" class="nav-link p-0 text-muted">iadorehair@gmail.com </a></li>
         
        </ul>
      </div>

    

      <div class="col-4 offset-1">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Feel free to contact us at any time by Email.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2022 Iadore Hair, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</footer>
